<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        {% endblock %}
    </head>
<body>
    <div class="bar">
    </div>
    {% if user.is_authenticated %}
        <a class="log" href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a class="log" href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>


