<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome Home, {{username}}!</h1>
    <h2>All APIs: </h2>
    <ul>
        <li><a href="{% url 'collection_api' %}">Collection</a></li>
        <li><a href="{% url 'item_api' %}">Item</a></li>
        <li><a href="{% url 'news_api' %}">News</a></li>
        <li><a href="{% url 'about_api' %}">About</a></li>
        <li><a href="{% url 'help_api' %}">Help</a></li>
        <li><a href="{% url 'footer_api' %}">Footer</a></li>
        <li><a href="{% url 'footerinfo_api' %}">Footer Info</a></li>
        <li><a href="{% url 'publicoffer_api' %}">Public Offer</a></li>
    </ul>
</body>
</html>